application:
    build: code
    tty: true
phpmyadmin:
    build: phpmyadmin
    tty: true
sftp:
    build: sftp
    ports:
        - "2222:22"
    volumes_from:
        - application
db:
    image: mysql
    ports:
        - "3306:3306"
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: symfony
        MYSQL_USER: symfony
        MYSQL_PASSWORD: symfony
php:
    build: php-fpm
    ports:
        - "9000:9000"
    volumes_from:
        - application
        - phpmyadmin
    links:
        - db
nginx:
    build: nginx
    ports:
        - "80:80"
    links:
        - php
    volumes_from:
        - application
        - phpmyadmin
